
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #727cf5 0%, #7a5af8 100%);
    margin: 0;
    height: 100vh;          
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


form.home-form {
    background-color: rgb(242, 242, 245);
    padding: 30px;
    border-radius: 4px;  
    max-width: 450px;
    width: 100%;
}

form.home-form input,
form.home-form textarea {
    border-radius: 3px;   
}

form.home-form button {
    border-radius: 3px;   
}




#firstH {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #222;
}

.form-field {
    position: relative;
    margin-bottom: 10px;
}


#name, #email, #phone, #subject, #message {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
} 

input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
    background-color: #eef5ff; 
}

#message {
    resize: vertical;
}

#name:focus, #email:focus, #phone:focus, #subject:focus, #message:focus {
    border-color: #007bff;
    outline: none;
}

button {
    margin-top: 20px;
    width: 100%;
    background-color: #a993ff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c4b7f9;
}





form img {
    position: absolute;
    right: 10px;
    top: 40px;
    width: 18px;
    height: 18px;
    display: none;
}
html[dir="rtl"] form img {
    right: auto;  
    left: 10px;    
}




table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    backdrop-filter: blur(5px);
    font-family: 'Segoe UI', sans-serif;
}

th, td {
    border: 1px solid #ffffff00;
    padding: 12px 10px;
    text-align: center;
    font-size: 14px;
}

th {
    background-color: rgb(237, 237, 240);
    color: rgba(0, 0, 0, 0.502);
    cursor: pointer;
}

th a {
    color:  rgba(0, 0, 0, 0.502);
    text-decoration: none;
    display: block;
}

th a:hover {
    text-decoration: underline;
    color: #000000;
}

td {
    color: #333;
    background-color: rgb(252, 252, 255);
}

tr:hover td {
    background-color: #e0f0ff;
}






body.admin{
    display: block;
    min-height: 100vh;
    background: linear-gradient(90deg, #727cf5 0%, #7a5af8 100%);
}



body.admin form:not(.search-bar){
    background-color: #f2f2f5;
    padding: 30px;
    border-radius: 16px;  
    max-width: 450px;
    width: 100%;
}

form.home-form {
    background-color: #f2f2f5;
    padding: 30px;
    border-radius: 4px;   
    max-width: 450px;
    width: 100%;
}

form.home-form input,
form.home-form textarea {
    border-radius: 3px;
}

form.home-form button {
    border-radius: 3px;
}


.search-bar{
    width: 100%;  
    max-width: 1200px;  
    margin: 20px auto 30px 60px;  
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0;
    box-shadow: none;
}

.search-bar #adminSearch{
    flex: 1;
    padding: 18px 20px;           
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    border-radius: 4px 0 0 4px;
    background: #fff;
}

.search-bar #adminButton{
    background-color: #a993ff;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 18px 36px;   
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.search-bar #adminButton:hover {
    background-color: #c4b7f9;
}






@media (max-width: 768px){
    .search-bar{
        margin-left: 16px;
        max-width: calc(100% - 32px);
        width: auto;
    }
}








.success-container {
    background-color: #ffffffcc;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    width: 100%;
    backdrop-filter: blur(5px);
    text-align: center;
}

.success-container h1 {
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.lang-switch-right{
    position: fixed;   
    top: 15px;
    right: 30px;       
    font-size: 18px;
    font-weight: bold;
    color: white;}

.lang-switch-left{
    position: fixed;   
    top: 15px;
    left: 30px;        
    font-size: 18px;
    font-weight: bold;
    color: white;}



.lang-switch-left a,
.lang-switch-right a{
    color: white;           
    text-decoration: none;  
    display: flex;          
    align-items: center;
    gap: 5px;      }

.lang-icon{
    width: 30px;
    height: 30px;
}






